body {
  margin: 0px;
  background-color: #F8F8F8;
}

header {
  background-image: -webkit-linear-gradient(#333333,#0174A3);
  height: 80px;
  display: flex;
  color: white;
  font-size: 1.5rem;
}

nav {
  position: static;
  width: 100%;
}

/*HEADER STYLES
=======================================*/
header > h1 {
  margin-top: .25em;
  margin-left: 10%;
  width: 95%;
  justify-content: center;
  align-items: center;
  font-family: 'PT Sans', sans-serif;
}

h2 {
  color: #111111;
  border-bottom: solid 3px #0174A3;
  margin-top: .35em;
  align-self: center;
  font-family: 'PT Sans', sans-serif;
}

h3 {
  margin-bottom: .2em;
  font-family: 'PT Sans', sans-serif;
}

p {
  font-family: 'Lato', serif;
}

/*===========LINK STYLES===============*/
a, a:link, a:active, a:visited {
  text-decoration: none;
  color: black;
}

a:hover {
  color: #444444;
}
