ul {
  display: none;
  margin: 0px;
}

ul li {
  cursor: pointer;
  list-style-type: none;
  font-size: 1.25em;
}

section {
  background-color: #E0E0E0;
  display: flex;
  width: 100%;
  margin-top: -5px;
  flex-direction: column;
  padding: 1.5em 0em 1em 0em;
}

section img {
  float: left;
  margin: .75em;
  max-width: 250px;
}

article {
  /*box-shadow: 10px 4px 10px #333333;*/
  padding-top: 2em;
  padding-bottom: 2em;
  width: 100%
}

table {
  border: 2px black solid;
  margin: auto;
}

td {
  border: 1px black solid;
  padding-left: .2em;
  padding-right: .2em;
}

#about-me{
  margin-top: 10px;
}
