ul {
  display: none;
  margin: 0px;
}

ul li {
  cursor: pointer;
  list-style-type: none;
  font-size: 1.25em;
}

section {
  background-color: #E0E0E0;
  display: flex;
  width: 97.5%;
  margin: auto;
  margin-top: 50px;
  flex-direction: column;
  padding: 0em .5em 1em .5em;
}

section img {
  float: left;
  margin: .75em;
  max-width: 250px;
}

article {
  box-shadow: 10px 4px 10px #333333;
  margin-top: 10px;
  /*width: 95%*/
}

table {
  border: 2px black solid;
  margin: auto;
}

td {
  border: 1px black solid;
  padding-left: .2em;
  padding-right: .2em;
}

#portfolio > article {
  padding-left: 10px;
  padding-right: 10px;
}

#about-me{
  margin-top: 10px;
}
