ul {
  display: none;
  margin: 0px;
}

ul li {
  cursor: pointer;
  list-style-type: none;
  font-size: 1.25em;
}

section{
  background-color: #E0E0E0;
  margin-top: 10px;
  display: flex;
  width: 97.5%;
  flex-direction: column;
  margin: auto;
  padding: 0em .5em 1em .5em;
}

section img {
  float: right;
  margin-right: .5em;
  margin-left: .5em;
  max-width: 200px;
  margin-bottom: .3em;
}

article {
  box-shadow: 10px 4px 10px #333333;
}

#portfolio > article {
  padding-left: 10px;
  padding-right: 10px;
}

#about-me{
  margin-top: 10px;
}
