.navbar {
  background-color: #444444;
  box-shadow: .1px 3px 10px #0174A3;
  margin-bottom: 10px;
}

.menu {
  display: block;
  width: 1.75em;
  margin-left: 1.5em;
}

.icon-menu {
  width: 1.75em;
  margin-left: 1em;
}

.icon-menu:hover {
  display: block;
}

.date-created {
  font-weight: bold;
  color: #444444;
  margin: .1em auto .2em 0em;
  font-size: 13px;
}

/*=====Specific Projects ========*/

#cliquor {
  background-color: rgba(211, 211, 211, 1);
}

#busmall {
  background-color: rgba(48, 110, 110, .25);
}

#campfire {
  background-color: rgba(7, 20, 72, .5);
}

@media only screen and (min-width:600px) {
  .navbar ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    padding-top: 4px;
    padding-bottom: 4px;
    border-top: 10px black;
  }

  .navbar div {
    width: 70%;
    background-color: #F8F8F8;
    margin: auto;
  }

  .icon-menu {
    display: none;
  }

  .navbar:hover ul {
    display: flex;
  }
}

@media only screen and (max-width:599px) {
  .navbar:hover li {
    margin-bottom: 2px;
    background-color: #F8F8F8;
    align-items: flex-start;
    margin-left: -40px;
    font-size: 1.5em;
  }

  .navbar li img {
    margin-left: 40%;
  }

  span  {
    display: none;
  }

  .navbar:hover ul {
    display: block;
    border-top: 1px solid #333333;
  }

  article {
    width: 100%;
    padding-left: .5em;
    padding-right: .5em;
  }

  section img {
    display: block;
    float: none;
    margin: auto;
    max-width: 85%;
    margin-top: .5em;
  }
}
