.navbar {
  background-color: rgb(35, 96, 147);
  box-shadow: .1px 3px #222222;
  margin-bottom: 10px;
}

.menu {
  display: block;
  width: 1.75em;
  margin-left: 1.5em;
}

.icon-menu {
  width: 1.75em;
  margin-left: 1em;
}

.icon-menu:hover {
  display: block;
}

.date-created{
  font-weight: bold;
  color: white;
  margin: .1em auto .2em 0em;
  font-size: 13px;
}

@media only screen and (min-width:600px) {

  .navbar ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    padding-top: 4px;
    padding-bottom: 4px;
  }
  span {
    display:block;
  }

  .icon-menu {
    display: none;
  }
}

@media only screen and (max-width:599px) {
  .navbar:hover ul {
    display: block;
  }
  section {
    width: 95%;
  }
}
