body {
  margin: 0px;
  background-color: #333333;
}

header {
  background-image: -webkit-linear-gradient(#333333,#0174A3);
  height: 150px;
  background-size: cover;
  display: flex;
  color: white;
  font-size: 1.5rem;
}

a, a:link, a:active, a:visited {
  text-decoration: none;
  color: black;
}

header > h1 {
  margin-top: 1em;
  margin-left: 10%;
  width: 95%;
  justify-content: center;
}

hr {
  width: 98%;
  margin: auto;
}
h2{
  color: white;
  border-bottom: solid 2px #0174A3;
  border-right: solid 2px #0174A3;
  margin-bottom: -12px;
  font-style: underline;
  width: 85px;
}

ul {
  display: none;
  margin: 0px;
}

ul li {
  cursor: pointer;
  list-style-type: none;
  margin-bottom: .5em;
  font-size: 1.25em;
}

span {
  display: none;
}

.date-created{
  font-weight: bold;
  color: white;
  margin-left: 12px;
  font-size: 13px;

}

section{
  background-color: #2ea1cd;
  margin-top: 10px;
  display: flex;
  width: 97.5%;
  border: 2px solid #222222;
  border-radius: 20px;
  flex-direction: column;
  margin: auto;
  padding-left: 10px;
  padding-bottom: 1em;
}

section img {
  display: block;
  max-width: 100%;
  margin-bottom: .3em;
}

#portfolio > article {
  padding-left: 10px;
  padding-right: 10px;
}

#about-me{
  margin-top: 10px;
}
